<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title>Товары</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--===============================================================================================-->
   <link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
   <style>
      body {
         font-family: sans-serif;
      }

      input {
         width: 96%;
         margin: 2px;
         font-size: 11pt;

      }

      select {
         width: 97%;
         margin: 2px;
         font-size: 11pt;
      }

      .w30 {
         width: 30.3%;
      }

      .main-btn-form-exit {
         font-size: 15px;
         width: 100px;
         background-color: #caccd1;
         color: white;
         height: 30px;
         text-decoration: none;
         border-radius: 9px;
         border: none
      }

      .main-btn {
         font-size: 20px;
         width: 120px;
         background-color: #179E98;
         height: 40px;
         text-decoration: none;
         border-radius: 9px;
      }

      .main-btn2 {
         font-size: 15px;
         width: 100px;
         background-color: #179E98;
         height: 30px;
         text-decoration: none;
         border-radius: 9px;
      }

      .main-btn-form {
         font-size: 15px;
         width: 100px;
         background-color: #179E98;
         color: white;
         height: 30px;
         text-decoration: none;
         border-radius: 9px;
         border: none
      }


      #customers {
         font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
         border-collapse: collapse;
         width: 100%;
      }

      #customers td, #customers th {
         border: 1px solid #ddd;
         padding: 3px;
         font-size: 13px;
      }

      #customers tr:nth-child(even) {
         background-color: #f2f2f2;
      }

      #customers tr:hover {
         background-color: #ddd;
      }

      #customers th {
         padding-top: 10px;
         padding-bottom: 10px;
         text-align: center;
         background-color: #727b6b;
         color: white;
         font-size: 12px;

      }

      input::-webkit-calendar-picker-indicator {
         opacity: 100;
         color: #727b6b;
      }

   </style>

</head>
<body>
<script>
   var productList = '';
</script>

<table border="0" cellpadding="2" cellspacing="2" align="center" style="width:100%; font-size: 11px">
   <tr>
      <td>
         <div style="width: 50%">

            <form method="get" action="/producttable">
               <button type="submit" class="main-btn-form" style="width: 150px">Список товаров
               </button>
            </form>
         </div>
      </td>
      <td style="width: 50%">
         <div>
            <form action="/logout" method="post">
               <p style=" text-align: right;">
                  <input name="_csrf" type="hidden" value="{{_csrf.token}}"/>
                  <button type="submit" class="main-btn-form-exit">Выйти
                  </button>
               </p>
            </form>
         </div>
      </td>
   </tr>

</table>

<div align="center">
   <form method="post" action="/producttable" onsubmit="return confirm('Подтверждаете правильность введенных данных?');">

      <input type="hidden" name="_csrf" value="{{_csrf.token}}">

      <table align="center" border="0" cellpadding="0" cellspacing="1" style="width:80%">
         <tbody>
         <tr>
            <td style="width: 45%">
               <input list="productNames" name="productName" tabindex="1" required placeholder="Наименование"
                      autocomplete="off">
               <datalist id="productNames">
                  {{#productNames}}
                     <option value="{{label}}">{{label}}</option>
                  {{/productNames}}
               </datalist>
            </td>
            <td style="width: 10%">&nbsp;</td>
            <td style="width: 45%">
               <input type="text" name="quantity" placeholder="Количество" autocomplete="off" required
                      tabindex="10" class="w30" onkeypress='validate(event)'>


               <input list="currencys" name="currency" placeholder="Валюта" autocomplete="off" required
                      tabindex="11" style="width: 30%;">
               <datalist id="currencys">
                  <option value="RUB">RUB</option>
                  <option value="BYN">BYN</option>
                  <option value="USD">USD</option>

               </datalist>
               <input type="text" name="course" placeholder="Курс" autocomplete="off" required
                      tabindex="12" class="w30" onkeypress='validate(event)' oninput='calculateSum()'>
            </td>
         </tr>
         <tr>
            <td>

               <input list="genders" name="gender" placeholder="Пол" tabindex="2" required autocomplete="off">
               <datalist id="genders">
                  <option value="-">-</option>
                  <option value="ДЕТ">ДЕТ</option>
                  <option value="ЖЕН">ЖЕН</option>
                  <option value="МУЖ">МУЖ</option>
               </datalist>

            </td>
            <td>&nbsp;</td>
            <td>
               <input type="text" name="importPrice" placeholder="Цена Ввоза" tabindex="13" class="w30" required
                      autocomplete="off" onkeypress='validate(event)' oninput='calculateSum()'>
               <input type="text" name="coefficient" placeholder="Коэффициент" tabindex="14" required
                      class="w30" autocomplete="off" onkeypress='validate(event)' oninput='calculateSum()'>
               <script>
                  function calculateSum() {
                     document.getElementsByName("retailPrice")[0].value = Math.round(document.getElementsByName("course")[0].value *
                             document.getElementsByName("importPrice")[0].value *
                             document.getElementsByName("coefficient")[0].value);

                  }
               </script>


               <input type="text" name="retailPrice" placeholder="Цена Розничная" readonly tabindex="15" class="w30"
                      autocomplete="off" onkeypress='validate(event)'>
            </td>

         </tr>
         <tr>
            <td>
               <input type="text" name="trademark" placeholder="Торговая Марка" autocomplete="off" tabindex="3"
                      required>
            </td>
            <td>&nbsp;</td>
            <td>
               <input list="seasons" name="season" tabindex="16" required autocomplete="off" placeholder="Сезон">
               <datalist id="seasons">
                  <option value="ДЕМИ">ДЕМИ</option>
                  <option value="ЗИМА">ЗИМА</option>
                  <option value="КРУГЛОСЕЗОННЫЙ">КРУГЛОСЕЗОННЫЙ</option>
                  <option value="ЛЕТО">ЛЕТО</option>
               </datalist>

            </td>
         </tr>
         <tr>
            <td>
               <input list="importers" name="importer" tabindex="4" required autocomplete="off" placeholder="Импортер">
               <datalist id="importers">
                  <option
                          value="ИП Роденя А.М. УНП 291482064 РБ  225254  Брестская обл., Ивацевичский р-н, аг.Воля, ул.Административная, 16">
                     ИП Роденя А.М. УНП 291482064 РБ 225254 Брестская обл., Ивацевичский р-н, аг.Воля,
                     ул.Административная, 16
                  </option>
                  <option
                          value="ООО 'Вориор', 225295, Республика Беларусь, Брестская область, город Ивацевичи, улица Парковая, дом 2">
                     ООО 'Вориор', 225295, Республика Беларусь, Брестская область, город Ивацевичи, улица
                     Парковая, дом 2
                  </option>

                  <option
                          value="ИП Роденя Т.В. УНП 291535496 РБ  225254  Брестская обл., Ивацевичский р-н, аг.Воля, ул.Административная, 1А">
                     ИП Роденя Т.В. УНП 291535496 РБ 225254 Брестская обл., Ивацевичский р-н, аг.Воля,
                     ул.Административная, 1А
                  </option>

                  <option
                          value="ИП Роденя М.М. УНП 291577243 РБ  225254  Брестская обл., Ивацевичский р-н, аг.Воля, ул.Административная, 1А">
                     ИП Роденя М.М. УНП 291577243 РБ 225254 Брестская обл., Ивацевичский р-н, аг.Воля,
                     ул.Административная, 1А
                  </option>
               </datalist>


            </td>
            <td>&nbsp;</td>
            <td>
               <input list="countryOfEntrys" name="countryOfEntry" tabindex="17" required autocomplete="off"
                      placeholder="Страна ввоза">
               <datalist id="countryOfEntrys">
                  <option value="КНДР">КНДР</option>
                  <option value="РФ">РФ</option>
                  <option value="РБ">РБ</option>
               </datalist>

            </td>
         </tr>
         <tr>
            <td>
               <input list="manufacturers" name="manufacturer" tabindex="5" required autocomplete="off"
                      placeholder="Производитель">
               <datalist id="manufacturers">
                  <option value="Unionwin Import & Export Co. Limited, адрес: ГОНКОНГ, Room 905 WorkingbergComm BLDG 41-47 Marble RD">
                     Unionwin Import & Export Co. Limited, адрес: ГОНКОНГ, Room 905 WorkingbergComm BLDG 41-47 Marble RD
                  </option>
                  <option value="-">-</option>
               </datalist>


            </td>
            <td>&nbsp;</td>
            <td>
               <input type="text" name="note" placeholder="Примечание" autocomplete="off" tabindex="18">
            </td>
         </tr>
         <tr>
            <td>
               <span> <input type="text" name="article" placeholder="Артикул" required tabindex="6" autocomplete="off"
                             style=" width: 47%;"> </span>
               <span> <input type="text" name="code" placeholder="Внешний Код" required tabindex="7" autocomplete="off"
                             style="    width: 46.6%;"> </span>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
         </tr>
         <tr>
            <td>

               <input list="compositions" name="composition" tabindex="8" required autocomplete="off"
                      placeholder="Состав">
               <datalist id="compositions">
                  {{#compositions}}
                     <option value="{{label}}">{{label}}</option>

                  {{/compositions}}
               </datalist>

            </td>
            <td>&nbsp;</td>
            <td>
               <input type="text" name="size" placeholder="Размер" autocomplete="off" tabindex="19">
            </td>
         </tr>
         <tr>
            <td>
               <input type="date" name="dateArrive" placeholder="Дата прихода" autocomplete="off" tabindex="9" required>
            </td>
            <td>&nbsp;</td>
            <td>
               <input type="text" name="barcode" placeholder="Штрихкод" autocomplete="off" style="display: none">
            </td>
         </tr>
         </tbody>
      </table>
      <button type="submit" class="main-btn-form" tabindex="20" style="background-color: #FFA073">Добавить</button>

   </form>
</div>

<script>
   function show_confirm() {
      confirm("Подтвердите введенные данные!");

   }

   function validate(evt) {
      var theEvent = evt || window.event;

      // Handle paste
      if (theEvent.type === 'paste') {
         key = event.clipboardData.getData('text/plain');
      } else {
         // Handle key press
         var key = theEvent.keyCode || theEvent.which;
         key = String.fromCharCode(key);
      }
      var regex = /[0-9]|\./;
      if (!regex.test(key)) {
         theEvent.returnValue = false;
         if (theEvent.preventDefault) theEvent.preventDefault();
      }
   }


   window.onload = function () {
      var checkBoxes = document.querySelectorAll('input[type="checkbox"]');

      for (var i = 0; i < checkBoxes.length; i++) {
         if (checkBoxes[i].parentElement.parentElement.children[17].innerText == "1") {
            // alert('true');
            checkBoxes[i].checked = true;
         } else {
            checkBoxes[i].checked = false;
            //alert('false');
         }

      }


   }

</script>


</body>
</html>